.employeeSection {
  max-width: 480px;

  &__info {
    margin-top: 44px;
  }

  &__ratingBlock {
    margin-top: 51px;
  }

  &__ratingCircle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 30px solid #7ad3ff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }
}

.employeeDetails {
  background-color: #252f6b;
  border-radius: 8px;
  padding: 12px 13px 15px 13px;

  margin-top: 20px;

  &__item {
    font-size: 28px;
    line-height: 36px;
    padding: 14px 28px;
    border-radius: 8px;
    background-image: linear-gradient(to left, #000b40 75%, #0f30d3 99%);
  }
  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
}
