@import '../../../../vars.scss';

.periodFilter {
  &__title {
    font-weight: 800;
  }

  text-align: center;
}

input[type='text'] {
  background-color: $dropdownBackgroundColor;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  padding: 5px 10px;
  text-align: center;

  font-size: 20px;
  font-weight: 600;
  color: #010a3a;
}

.p-calendar {
  width: 100%;
}

.p-datepicker {
  background-color: $dropdownBackgroundColor;
  border: 1px solid grey;
  border-radius: 10px;
}

.p-datepicker-prev,
.p-datepicker-next {
  border: none;
  background-color: transparent;
}

.p-datepicker-prev svg path,
.p-datepicker-next svg path {
  transition: all 0.5s ease;
}

.p-datepicker-prev:hover svg path,
.p-datepicker-next:hover svg path {
  fill: #fff;
}

.p-monthpicker {
  padding: 8px;
}

.p-monthpicker-month {
  transition: all 0.5s ease;

  &:hover {
    color: #fff;
  }
}
