.periodFilter {
  &__title {
    font-weight: 800;
  }

  text-align: center;
}

input[type='text'] {
  background-color: #b5bbdb;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  padding: 5px 10px;
  text-align: center;

  font-size: 20px;
  font-weight: 600;
  color: #010a3a;
}

.p-calendar {
  width: 100%;
}
