.filtersBlock {
  background-image: linear-gradient(#000a3a 16%, #071140 30%, #121b48 41%, #151e4a 51%, #16204b 64%, #242e7e 92%);
  border-radius: 60px;
  height: 100px;

  padding: 13px 36px;

  display: flex;
  justify-content: space-between;
}
