@import '../../../../vars.scss';

.selectFilter {
  font-size: 12px;
  font-weight: 400;
}

.p-dropdown {
  border-radius: 20px;
  padding: 6px 8px;
  min-width: 170px;
  max-width: 252px;
  width: 100%;

  background-image: $backgroundGradient;
}

.p-dropdown-trigger {
  position: absolute;
  top: 10px;
  left: 10px;
}

.p-dropdown-label {
  margin-left: 25px;
  text-align: center;
}

.p-dropdown-items {
  background-color: $dropdownBackgroundColor;
  padding: 6px;
  border-radius: 10px;
}

.p-dropdown-item {
  font-size: 12px;
  color: #010a3a;

  transition: all 0.5s ease;
}

.p-dropdown-item:hover {
  color: #fff;
}

.p-dropdown-item:not(:last-child) {
  margin-bottom: 5px;
}
